@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    box-sizing: border-box;
}
:root{
    --cor-container: #fff
    --font-color: #000
    
    
}
/* #00B4E7
#040220 */
