/* .popup{
    position: fixed;
    top: 18rem;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 400px;
    height: 300px;
    padding: 10px;
    border: 3px solid #000;
    border-radius: 5px;
    background-color: whitesmoke;
    display: none;
} */