@import url(base.css);
@import url(popup.css);


header{
    width: 600px;
}
h1{
    font-size: larger;
    letter-spacing: 1px;
}
main{
    color:var(--FonteCor);
    background-color: var(--bgDiv);
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 300;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
.Interrogação{
    width: 1rem;
    margin: auto;
}
.container{
    position: absolute;
    text-align: center;
    display: block;
    background-color: var(--cor-container);
    padding-top: .1rem;

}
li{
    padding-top: 1rem;
    list-style: none;
}

strong{
    letter-spacing: 2px;
}
#calcular{
    font-size: large;
    margin-left: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    background-color: var(--botaoCor);
    transition: .4s;

}
#calcular:active{
    color: snow;
    transform: scale(.9,.9);

}

input{
    color: black;
    border-radius: 5px;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-left: .1rem;
    width: 200px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
    padding-left: 4px;
   -moz-appearance: textfield;
   appearance: textfield;

}
#resultados{
    letter-spacing: 2px;
    font-weight: 500;
    display: none;
    transition: .4s;
}
button{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s;
}
button:active{
    transform: scale(.9,.9);
}
a{
    text-decoration: none;
    color: var(--linkCor);
    transition: .3s;
}
a:hover{
    color: blue;
    transform: scale(1.1, 1.1);
}
@media screen and (max-width: 700px){
    header{
        width: 400px;
    }
    header p {
        font-size: medium;
    }
    h1{
        font-size: large;
    }
    main{
        width: 350px;
    }
    main span {
        font-size: medium;
    }
    main p {
        font-size: medium;
    }
    li {
        font-size: 19px;    
    }
    .popup{
        width: 295px;
    }
}